* {
  font-family: 'Pontano Sans', sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 20px 40px;
  width: 90%;
}

h1.banner {
  font-size: 300%
}

figcaption.figure-caption {
  font-size: 125%;
}

.chinese-banner {
  background-color: #721817;
  color: #FA9F42;
  padding: 15px;
}


figure img:hover {
  transform: scale(1.25);
  cursor: pointer;
}

li.list-group-item {
  padding: 5px;
}
h5.card-title {
  padding: 5px;
  margin: 0
}

button:hover {
  cursor: pointer;
}
